ADD_URL=https://warpcast.com/~/add-cast-action?name=Fart&icon=flame&actionType=post&postUrl=https://fartcaster-action.vercel.app/api/fart
NEYNAR_API_KEY=NEYNAR_API_DOCS
REDIS_URL=redis://localhost:6379
REDIS_TOKEN=